*{
    margin: 0;
    padding: 0;
}

/* Review Page */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Queue Page */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
}
@media only screen and (max-width: 768px) {
    .queue-page {
        height: 90vh;
    }
}
@media only screen and (max-height: 688px) {
    .queue-page .title {
        margin-top: 2em;
    }
}

/* Talk Page */
.talk-page .box:hover {
    box-shadow: 0 2px 3px rgba(233, 35, 35, 0.1), 0 0 0 1px rgba(182, 0, 0, 0.1);
    background-color: #F4E3E1;
}
.header-wrapper {
    width: 25vw;
    min-width: 300px;
    padding: 6vw 30px; 
}
.content-wrapper {
    padding: 5vw;
}
.tile-wrapper {
    margin: 2vw 5vw;
}
.tile-box {
    height: 300px;
}
.tile-box-talk {
    height: 200px;
}
@media only screen and (max-width: 1600px) {
    .content-wrapper {
        padding: 3vw;
    }
    .tile-wrapper {
        margin: 1vw 3vw;
    }
    .header-wrapper {
        padding: 3vw 30px; 
    }
}
@media only screen and (max-width: 1150px) {
    .content-wrapper {
        padding: 3vw;
    }
    .tile-wrapper {
        margin: 1vw;
    }
    .header-wrapper {
        padding: 3vw 30px; 
    }
}
@media only screen and (max-width: 768px) {
    .content-wrapper {
        padding: 50px;
    }
    .tile-wrapper {
        margin: auto;
    }
}
@media only screen and (max-width: 450px) {
    .content-wrapper {
        padding: 25px;
    }
    #talk .title {
        font-size: 1.7em;
    }
}
@media only screen and (max-width: 400px) {
    #talk .title {
        font-size: 1.6em;
    }
    .talk-page .box {
        padding: 0rem;
    }
    .tile-box {
        height: 250px;
    }
    .tile-box-talk {
        height: 190px;
    }
    .talk-page .image.is-128x128 {
        width: 110px;
        height: 110px;
    }
}
@media only screen and (max-width: 374px) {
    .tile-box {
        height: 200px;
    }
    .tile-box-talk {
        height: 160px;
    }
    .talk-page .image.is-128x128 {
        width: 100px;
        height: 100px;
    }
}