@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap')

$dark-purple: #3c3c72
$purple: #5353AC
$light-purple: #CECDE1
$dark-pink: #e99d9f
$pink: #eecfcd
$background-dark-pink: #E9D0CE
$background-light-pink: #F4E3E1

// Update Bulma's global variables
$family-sans-serif: "Work Sans", sans-serif;
$grey-dark: $dark-purple;
$grey: $purple
$grey-light: $light-purple;
$primary: $purple;
$link: $purple;
$warning: $background-light-pink;
$grey-lighter: #F8F8F8;

// We can import bulma into the project using Sass.
@import "../node_modules/bulma/bulma.sass"
